
.brand-logo-container {
  background-color: #003638;
  text-align: center; /* Centers the content horizontally */
  padding: 50px 0; /* Adds vertical padding */
  margin:0;
}

.brand-logo {
  
  width: 300px;
  height: auto; 
}

.card-container {
  background-color: #003638;
  margin: auto;
}

